<article class="{{ if .Params.image }}has-image {{ end }} {{ if not .Params.nomain }} main-article {{end}}">
    {{ if not .Params.noheader }}
        {{ partial "article/components/header" . }}
    {{ end }}

    {{ partial "article/components/content" . }}

    {{ if not .Params.nofooter }}
        {{ partial "article/components/footer" . }}
    {{ end }}

    {{ if or .Params.math .Site.Params.article.math }}
        {{ partialCached "article/components/math.html" . }}
    {{ end }}
</article>